* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
  outline: none;
}
.login-btn {
  display: block;
  width: 100px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background: #4f8ee0;
  border-radius: 6px;
}
.model {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .4);
  z-index: 1;
}
.model .model--content {
  position: relative;
  display: block;
  width: 713px;
  height: 535px;
  line-height: 535px;
  text-align: center;  
  background: #e7e7e7;
  margin: 80px auto;  
  border-radius: 3px;
  animation: zoom 0.6s;
  z-index: 999;
}
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.model .model--login {
  padding: 80px 0;
  display: block;
}
.model .model--login .model--login--input {
  display: block;
  width: 600px;
  height: 40px;
  margin: 40px auto;
  line-height: 40px;
}
.model .model--login .model--login--input .model--login--inputText {
  display: inline-block;
  width: 500px;
  height: 40px;
  padding: 0 0 0 10px;
  /* text-align: center; */
  border: none;
  border-bottom: 1px solid #bbb;
  background: #e7e7e7;
  font-size: 18px;
}
.model .model--login .model--login--btn {
  display: block;
  width: 520px;
  height: 40px;
  background: #4f8ee0;
  color: #fff;
  text-align: center;
  line-height: 40px;
  margin: 60px auto 0;
  text-decoration: none;
  border-radius: 4px;
}
.model .model--login .model--signup--btn {
  display: block;
  width: 400px;
  height: 40px;
  color: #aaa;
  text-align: center;
  line-height: 40px;
  margin: 30px auto 0;
  text-decoration: none;
}
